@model ProductVM
  <div id="small">
    <div class="info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href=""><i class="fa-solid fa-house"></i>Home</a>
                    <span>Pages</span>
                    <span>About us</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image">
                            <!-- <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-16-1.jpg" alt="#" id="zoom_in" > -->
                        </div>

                        <div class="image2">
                            <img src="@Model.Product.Image"
                                 alt="">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-3.jpg"
                                 alt="">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-4.jpg"
                                 alt="">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-5.jpg"
                                 alt="">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-6.jpg"
                                 alt="">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-7.jpg"
                                 alt="">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-8.jpg"
                                 alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text">
                            <span class="sale">Sale Off</span>
                            <h2>@Model.Product.Name</h2>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span>(32 reviews)</span>
                            <br>
                            <div class="price1 d-flex">
                                <span class="price">@Model.Product.Price</span>
                                <div class="prices">
                                    <span class="off">26% off</span>
                                    <p><del>$52</del></p>
                                </div>
                            </div>
                            <p>
                               @Model.Product.Context
                            </p>
                            <span class="size">Size/Weight:</span>
                            <a href="">50g</a><a href="">60g</a><a href="">80g</a><a href="">100g</a><a href="">150g</a>
                            <div class="text2">
                                <span class="num">1</span>
                                <i class="fa-solid fa-chevron-up upp"></i>
                                <i class="fa-solid fa-chevron-down down"></i>
                                <button>Add to cart</button>
                                <i class="fa-solid fa-heart second"></i>
                                <i class="fa-solid fa-shuffle second"></i>
                            </div>
                            <div class="lists1 d-flex">
                                <ul>
                                    <li>
                                        Type: <span>Organic</span>
                                    </li>
                                    <li>MFG: <span>Jun 4.2021</span></li>
                                    <li>Life: <span>70 days</span></li>
                                </ul>


                                <ul class="bottle">
                                    <li>
                                        SKU: <span>FWM15VKT</span>
                                    </li>
                                    <li>Tags: <span>Snack,Organic,Brown</span></li>
                                    <li>Stock: <span>8 Items in Stock</span></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div id="allinfo">
                            <div class="tab-menu">
                                <div data-index="1" class="active ">Description</div>
                                <div data-index="2">Additional-info</div>
                                <div data-index="3">Vendor</div>

                            </div>
                            <div class="content">
                                <div data-index="1">
                                    <p>
                                        Uninhibited carnally hired played in whimpered dear gorilla koala depending
                                        and
                                        much yikes off far quetzal goodness and from for grimaced goodness
                                        unaccountably
                                        and meadowlark near unblushingly crucial scallop tightly neurotic hungrily
                                        some
                                        and dear furiously this apart.
                                    </p>

                                    <p>
                                        Spluttered narrowly yikes left moth in yikes bowed this that grizzly much
                                        hello
                                        on spoon-fed that alas rethought much decently richly and wow against the
                                        frequent fluidly at formidable acceptably flapped besides and much circa far
                                        over the bucolically hey precarious goldfinch mastodon goodness gnashed a
                                        jellyfish and one however because.
                                    </p>

                                    <div class="lists d-flex">
                                        <ul>
                                            <li>Type of Packing</li>
                                            <li>Color</li>
                                            <li>Quantity Per Case</li>
                                            <li>Ethyl Alchool</li>
                                            <li>Piece in One</li>
                                        </ul>
                                        <ul class="bottle">
                                            <li>
                                                Bottle
                                            </li>
                                            <li>Green, Pink, Powder Blue, Purple</li>
                                            <li>100 ml</li>
                                            <li>70%</li>
                                            <li>Carton</li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <p>
                                        Laconic overheard dear woodchuck wow this outrageously taut beaver hey hello
                                        far
                                        meadowlark imitatively egregiously hugged that yikes minimally unanimous
                                        pouted
                                        flirtatiously as beaver beheld above forward energetic across this jeepers
                                        beneficently cockily less a the raucously that magic upheld far so the this
                                        where crud then below after jeez enchanting drunkenly more much wow
                                        callously
                                        irrespective limpet.
                                    </p>
                                    <h4>Packaging Delivery</h4>
                                    <hr>
                                    <p>
                                        Less lion goodness that euphemistically robin expeditiously bluebird smugly
                                        scratched far while thus cackled sheepishly rigid after due one assenting
                                        regarding censorious while occasional or this more crane went more as this
                                        less
                                        much amid overhung anathematic because much held one exuberantly sheep
                                        goodness
                                        so where rat wry well concomitantly.
                                    </p>
                                    <h4>Suggested Use</h4>
                                    <ul class="bottle">
                                        <li>Refrigeration not necessary.</li>
                                        <li>Stir before serving</li>
                                    </ul>
                                    <h4>Other Ingredients</h4>
                                    <ul class="bottle">

                                        <li>Organic raw pecans, organic raw cashews.</li>
                                        <li>
                                            This butter was produced using a LTG (Low Temperature Grinding) process
                                        </li>
                                        <li>
                                            Made in machinery that processes tree nuts but does not process peanuts,
                                            gluten, dairy or soy
                                        </li>
                                    </ul>
                                    <h4>Warnings</h4>
                                    <ul class="bottle">
                                        <li>Oil separation occurs naturally. May contain pieces of shell.</li>
                                    </ul>
                                </div>

                                <div class="d-none" data-index="2">
                                    <div class="tab-pane fade active show" id="Additional-info">
                                        <table class="font-md">
                                            <tbody>
                                                <tr class="stand-up">
                                                    <th>Stand Up</th>
                                                    <td>
                                                        <p>35″L x 24″W x 37-45″H(front to back wheel)</p>
                                                    </td>
                                                </tr>
                                                <tr class="folded-wo-wheels">
                                                    <th>Folded (w/o wheels)</th>
                                                    <td>
                                                        <p>32.5″L x 18.5″W x 16.5″H</p>
                                                    </td>
                                                </tr>
                                                <tr class="folded-w-wheels">
                                                    <th>Folded (w/ wheels)</th>
                                                    <td>
                                                        <p>32.5″L x 24″W x 18.5″H</p>
                                                    </td>
                                                </tr>
                                                <tr class="door-pass-through">
                                                    <th>Door Pass Through</th>
                                                    <td>
                                                        <p>24</p>
                                                    </td>
                                                </tr>
                                                <tr class="frame">
                                                    <th>Frame</th>
                                                    <td>
                                                        <p>Aluminum</p>
                                                    </td>
                                                </tr>
                                                <tr class="weight-wo-wheels">
                                                    <th>Weight (w/o wheels)</th>
                                                    <td>
                                                        <p>20 LBS</p>
                                                    </td>
                                                </tr>
                                                <tr class="weight-capacity">
                                                    <th>Weight Capacity</th>
                                                    <td>
                                                        <p>60 LBS</p>
                                                    </td>
                                                </tr>
                                                <tr class="width">
                                                    <th>Width</th>
                                                    <td>
                                                        <p>24″</p>
                                                    </td>
                                                </tr>
                                                <tr class="handle-height-ground-to-handle">
                                                    <th>Handle height (ground to handle)</th>
                                                    <td>
                                                        <p>37-45″</p>
                                                    </td>
                                                </tr>
                                                <tr class="wheels">
                                                    <th>Wheels</th>
                                                    <td>
                                                        <p>12″ air / wide track slick tread</p>
                                                    </td>
                                                </tr>
                                                <tr class="seat-back-height">
                                                    <th>Seat back height</th>
                                                    <td>
                                                        <p>21.5″</p>
                                                    </td>
                                                </tr>
                                                <tr class="head-room-inside-canopy">
                                                    <th>Head room (inside canopy)</th>
                                                    <td>
                                                        <p>25″</p>
                                                    </td>
                                                </tr>
                                                <tr class="pa_color">
                                                    <th>Color</th>
                                                    <td>
                                                        <p>Black, Blue, Red, White</p>
                                                    </td>
                                                </tr>
                                                <tr class="pa_size">
                                                    <th>Size</th>
                                                    <td>
                                                        <p>M, S</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="d-none" data-index="3">
                                    <div class="icons d-flex">
                                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/vendor/vendor-18.svg"
                                             alt="">
                                        <div class="nod">
                                            <a class="noodle" href="">Noodles CO</a>
                                            <br>
                                            <i class="fa-solid fa-star yellow"></i><i class="fa-solid fa-star yellow"></i><i class="fa-solid fa-star yellow"></i><i class="fa-solid fa-star yellow"></i><i class="fa-solid fa-star yellow"></i>
                                            <span>(32 Reviews)</span>
                                        </div>
                                    </div>


                                    <p>
                                        <i class="fa-solid fa-location-dot"></i> <strong>Address:</strong> 5171 W
                                        Campbell Ave undefined Kent, Utah 53127 United States
                                    </p>
                                    <p>
                                        <i class="fa-solid fa-headphones"></i><strong>Contact Seller:</strong>(+91) -
                                        540-025-553

                                    </p>
                                    <div class="rating d-flex">

                                        <div class="box1">
                                            <p>Rating</p>
                                            <h4>92%</h4>
                                        </div>
                                        <div class="box1">
                                            <p>Ship on time</p>
                                            <h4>100%</h4>
                                        </div>
                                        <div class="box1">
                                            <p>Chat response</p>
                                            <h4>89%</h4>
                                        </div>

                                    </div>
                                    <p class="bottom">
                                        Noodles & Company is an American fast-casual restaurant that offers
                                        international and American noodle dishes and pasta in addition to soups and
                                        salads. Noodles & Company was founded in 1995 by Aaron Kennedy and is
                                        headquartered in Broomfield, Colorado. The company went public in 2013 and
                                        recorded a $457 million revenue in 2017.In late 2018, there were 460 Noodles
                                        &
                                        Company locations across 29 states and Washington, D.C.
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="related">
                        <h2>
                            Related products
                        </h2>
                        <h1></h1>
                        <div class="container">
                            <div class="row">
                                @foreach (Related related in Model.Relateds)
                                {
                                    <div class="col-lg-3">
                                        <div class="box2">
                                            <div class="top">
                                                <img src="@related.Image"
                                                     alt="">
                                                <img class="img2"
                                                     src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-2-2.jpg"
                                                     alt="">
                                                <div class="buttons">
                                                    <i class="fa-solid fa-heart"></i>
                                                    <i class="fa-solid fa-shuffle"></i>
                                                    <i class="fa-solid fa-eye"></i>
                                                </div>
                                            </div>
                                            <div class="prod-text">
                                                <a href="">@related.Title</a>
                                                <br>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <br>
                                                <span class="price">@related.Price</span>
                                                <del>$245.8</del>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @*<div class="col-lg-3">
            <div class="box2">
                <div class="top">
                    <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-3-1.jpg"
                         alt="">
                    <img class="img2"
                         src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-3-2.jpg"
                         alt="">
                    <div class="buttons">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-shuffle"></i>
                        <i class="fa-solid fa-eye"></i>
                    </div>

                </div>
                <div class="prod-text">
                    <a href="">Ulstra Bass Headphone</a>
                    <br>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <br>
                    <span class="price">$238.85</span>
                    <del>$245.8</del>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box2">
                <div class="top">
                    <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-4-1.jpg"
                         alt="">
                    <img class="img2"
                         src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-4-2.jpg"
                         alt="">
                    <div class="buttons">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-shuffle"></i>
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </div>

                <div class="prod-text">
                    <a href="">Ulstra Bass Headphone</a>
                    <br>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <br>
                    <span class="price">$238.85</span>
                    <del>$245.8</del>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box2">
                <div class="top">
                    <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-5-1.jpg"
                         alt="">
                    <img class="img2"
                         src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-5-2.jpg"
                         alt="">
                    <div class="buttons">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-shuffle"></i>
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </div>
                <div class="prod-text">
                    <a href="">Ulstra Bass Headphone</a>
                    <br>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <br>
                    <span class="price">$238.85</span>
                    <del>$245.8</del>
                </div>
            </div>
        </div>*@
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="col-lg-3">

                <div class="all">
                    <div class="catagory-text">
                        <h5>Category</h5>
                    </div>
                    @foreach (Category category in Model.Categories)
                    {
                        <div class="box">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/category-1.svg"
                                 alt="">
                            <a href="">@category.Title</a>
                            <span>30</span>
                        </div>
                    }

                 </div>
                <div class="widget">
                    <div id="price">
                        <h5>Fill by price</h5>
                        <h1></h1>
                        <div class="price-filter">
                            <div class="price-filter-inner">
                                <div id="slider" class="noUi-target noUi-ltr noUi-horizontal noUi-background">

                                </div>
                            </div>
                        </div>
                        <span>From:$500</span>
                        <span>To:$1.000</span>
                        <p>Color</p>
                        <input type="checkbox">
                        <span class="checkmark">Red (56)</span>
                        <br>
                        <input type="checkbox">
                        <span class="checkmark">Green (78)</span>
                        <br>
                        <input type="checkbox">
                        <span class="checkmark">Blue (54)</span>
                        <p>Item Condition</p>
                        <input type="checkbox">
                        <span class="checkmark">New (1506)</span>
                        <br>
                        <input type="checkbox">
                        <span class="checkmark">Refurbished (27)</span>
                        <br>
                        <input type="checkbox">
                        <span class="checkmark">Used(45)</span>
                        <br>
                        <button>Filter</button>
                    </div>


                </div>

                <div id="productss">
                    <div class="prod-text">
                        <h5>New products</h5>

                    </div>
                    @foreach (NewProducts prod in @Model.NewProducts)
                    {
                        <div class="box1 d-flex">
                            <img src="@prod.Image" alt="">
                            <div id="info">
                                <a href="">@prod.Title</a>
                                <p>@prod.Price</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    }

                    @*<div class="box1 d-flex">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-4.jpg" alt="">
                        <div id="info">
                            <a href="">Chen Cardrigan</a>
                            <p>$99.50</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="box1 d-flex">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-5.jpg" alt="">
                        <div id="info">
                            <a href="">Chen Cardrigan</a>
                            <p>$99.50</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>*@

                </div>
                <div id="orange">
                    <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-11.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="stayhome">
    <div class="text-home">
        <h2>
            Stay home & get your daily <br>
            needs from our shop
        </h2>
        <p>
            Start You'r Daily Shopping with Nest Mart
        </p>
        <form action="">
            <i class="fa-solid fa fa-magnifying-glass"></i>
            <input type="text" placeholder="Your email address">
            <button>Subscribe</button>

        </form>
    </div>
    <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-9.png" alt="">
</div>

<div id="items">
    <div class="container-fluid">
        <div class="row">
            <div class="box-wrapper">
                <div class="box">
                    <div class="left-icon">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-1.svg" alt="">
                    </div>
                    <div class="icon-text">
                        <h3>Best prices & offers</h3>
                        <p>Orders $50 or more</p>
                    </div>
                </div>
            </div>
            <div class="box-wrapper">
                <div class="box">
                    <div class="left-icon">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-2.svg" alt="">
                    </div>
                    <div class="icon-text">
                        <h3>Free Delivery</h3>
                        <p>24/7 amazing services</p>
                    </div>
                </div>
            </div>
            <div class="box-wrapper">
                <div class="box">
                    <div class="left-icon">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-3.svg" alt="">
                    </div>
                    <div class="icon-text">
                        <h3>Great Daily deal</h3>
                        <p>When you sign up</p>
                    </div>
                </div>
            </div>
            <div class="box-wrapper">
                <div class="box">
                    <div class="left-icon">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-4.svg" alt="">
                    </div>
                    <div class="icon-text">
                        <h3>Wide assortment</h3>
                        <p>Mega Discounts</p>
                    </div>
                </div>
            </div>
            <div class="box-wrapper">
                <div class="box">
                    <div class="left-icon">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-5.svg" alt="">
                    </div>
                    <div class="icon-text">
                        <h3>Easy returns</h3>
                        <p>
                            Easy returns
                            Within 30 days
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
@section CSS{
    <link href="~/CSS/product.css" rel="stylesheet" />
}

